  <div class="product-widget-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <!-- tc product left -->
            <tc_product_left></tc_product_left>
            <!-- END tc product left -->
            <!-- tc product center -->
            <tc_product_center></tc_product_center>
            <!-- END tc product center-->
            <!-- tc product right -->
            <tc_product_right></tc_product_right>
            <!-- END tc product right -->
            
        </div>
    </div>
  </div> 
  
  <!-- End product widget area -->