<div class="container">
  <form *ngIf="!submited" class="form-horizontal" role="form" #form_dang_ky="ngForm">
    <div class="form-group">
      <legend>Đăng ký</legend>
    </div>

    <div class="form-group">
      <div class="col-sm-3">
        <label class="pull-right">Họ tên:</label>
      </div>
      <div class="col-sm-9">
        <input type="text" #ho_ten="ngModel" [(ngModel)]="nguoi_dung.ho_ten" name="ho_ten" class="form-control" value="" required="required"
          title="">
        <div class="thong_bao_loi" *ngIf="ho_ten.invalid && !ho_ten.pristine">
          <div *ngIf="ho_ten.errors.required">
            Vui lòng nhập họ tên
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-3">
        <label class="pull-right">Tài khoản:</label>
      </div>
      <div class="col-sm-9">
        <input type="text" #ten_tai_khoan="ngModel" [(ngModel)]="nguoi_dung.ten_tai_khoan" name="ten_tai_khoan" class="form-control"
          value="" required="required" pattern="^[a-zA-Z0-9]+$" title="">

        <div class="thong_bao_loi" *ngIf="ten_tai_khoan.invalid && !ten_tai_khoan.pristine">
          <div *ngIf="ten_tai_khoan.errors.required">
            Vui lòng nhập tai khoan
          </div>
          <div *ngIf="ten_tai_khoan.errors.pattern">
            Tai khoan khong hop le
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-3">
        <label class="pull-right">Mật khẩu:</label>
      </div>
      <div class="col-sm-9">
        <!-- validateEqual="nhap_lai_mat_khau_input" -->
        <input type="password" class="form-control" name="mat_khau" [(ngModel)]="nguoi_dung.mat_khau" #mat_khau="ngModel" validateEqual="re_mat_khau"
          required reverse="true">
        <div class="thong_bao_loi" [hidden]="mat_khau.valid || (mat_khau.pristine && !form_dang_ky.submitted)">
          Vui lòng nhập Password!
        </div>

      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-3">
        <label class="pull-right">Nhập lại mật khẩu:</label>
      </div>
      <div class="col-sm-9">
        <input type="password" class="form-control" name="re_mat_khau" [(ngModel)]="nguoi_dung.re_mat_khau" required validateEqual="mat_khau"
          reverse="false" #re_mat_khau="ngModel">
        <div class="thong_bao_loi" [hidden]="re_mat_khau.valid || (re_mat_khau.pristine && !form_dang_ky.submitted)">
            Password và Confirm Password phải giống nhau!
        </div>

      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-3">
        <label class="pull-right">Email:</label>
      </div>
      <div class="col-sm-9">
        <input type="email" #email="ngModel" pattern="[a-zA-Z0-9\.\+_-]+@\S+\.\S+" [(ngModel)]="nguoi_dung.email" name="email" class="form-control"
          value="" required="required" title="">
        <div class="thong_bao_loi" *ngIf="email.invalid && !email.pristine">
          <div *ngIf="email.errors.required">
            Vui lòng nhập email
          </div>
          <div *ngIf="email.errors.pattern">
            Email không hợp lệ!
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-3">
        <label class="pull-right">Tuổi:</label>
      </div>
      <div class="col-sm-9">
        <input type="number" min=1 max=150 #ngay_sinh="ngModel" kiemtratuoi="ngay_sinh" [(ngModel)]="nguoi_dung.ngay_sinh" name="ngay_sinh"
          class="form-control" value="" title="">
        <div class="thong_bao_loi" *ngIf="ngay_sinh.invalid && !ngay_sinh.pristine">
          <div *ngIf="ngay_sinh.errors.kiemtratuoi">
            Tuổi không được lớn hơn 150!
          </div>
        </div>
      </div>

    </div>

    <div class="form-group">
      <div class="col-sm-3">
        <label class="pull-right">Nơi sinh:</label>
      </div>
      <div class="col-sm-9">
        <input type="text" [(ngModel)]="nguoi_dung.noi_sinh" name="noi_sinh" class="form-control" value="" required="required" pattern=""
          title="">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-3">
        <label class="pull-right">CMND:</label>
      </div>
      <div class="col-sm-9">
        <input type="text" #cmnd="ngModel" maxlength="20" [(ngModel)]="nguoi_dung.cmnd" name="cmnd" class="form-control" value=""
          pattern="[0-9]+" title="">
        <div class="thong_bao_loi" *ngIf="cmnd.invalid && !cmnd.pristine">
          <div *ngIf="cmnd.errors.pattern">
            CMND chỉ bao gồm số
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-3">
        <label class="pull-right">Số điện thoại:</label>
      </div>
      <div class="col-sm-9">
        <input type="text" maxlength="20" #so_dien_thoai="ngModel" [(ngModel)]="nguoi_dung.so_dien_thoai" name="dien_thoai" class="form-control"
          value="" required="required" pattern="[0-9]+" title="">
        <div class="thong_bao_loi" *ngIf="so_dien_thoai.invalid && !so_dien_thoai.pristine">
          <div *ngIf="so_dien_thoai.errors.pattern">
            Số điện thoại chỉ bao gồm số
          </div>
          <div *ngIf="so_dien_thoai.errors.required">
            Vui lòng nhập số điện thoại
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-3">
        <label class="pull-right">Địa chỉ:</label>
      </div>
      <div class="col-sm-9">
        <input type="text" #dia_chi="ngModel" [(ngModel)]="nguoi_dung.dia_chi" name="dia_chi" class="form-control" value="" title="">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-9 col-sm-offset-3">
        <button type="submit" (click)="gui_form(form_dang_ky)" [disabled]="form_dang_ky.form.invalid" class="btn btn-primary">Đăng ký</button>
      </div>
    </div>
  </form>

  <div *ngIf="submited" class="col-sm-12">
    <div class="col-md-6">
      <h1>Thông tin vừa đăng ký</h1>
      <div>
        <span>Tên tài khoản là: {{nguoi_dung.ten_tai_khoan}}</span>
      </div>
      <div>
        <span>với Email là: {{nguoi_dung.email}}</span>
      </div>
      <div>
        <span>Số điện thoại là: {{nguoi_dung.so_dien_thoai}}</span>
      </div>

      <div>

      </div>
    </div>
    <!-- <div class="col-md-2">
      <a class="btn btn-default">Click vào đây để đăng nhập</a>
    </div> -->

  </div>
</div>
